@media screen and (max-width: 975px) {
  .content{
    flex-direction: column;
  }
  .rf-map {
    display: none;
  }
}


@media screen and (max-width: 780px) {
  .form-deisgn, .form-deisgn-teh {
    margin-bottom: 12px;
    width: auto;
    margin-top: 5px;
  }

  .left-side-mobile a{
    font-size: 11px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .adr {
    height: -webkit-fill-available;
    margin-right: 5px;
    min-width: 60px;
  }

  .cart-content{
    width: auto;
  }
  .md {
    font-size: 15px;
  }

  .adr a{
    margin-top: 1px;
  }

  a[href^="tel:"] {
    display: flex;
    margin-left: auto;
    margin-right: 16px;
  }

  .dashed {
    border-bottom: 2px dashed #34b8c6;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  header{
    width: 100vw;
  }
  .left-side, .logo-wrapp{
    display: none;
  }
  .left-side-mobile{
    display: flex;
    align-items: baseline;
    margin-top: 2px;
  }
  .logo-img {
    width: 40px;
    height: 40px;
    }
  .header-content{
    margin: 5px 5px;
    height: 6vh;
    margin-top: 8px;
  }
  .content {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .content-text{
    font-size: 12px;
  }
  .symbol-text{
    font-size: 17px;
  }
  .footer-content {
    height: auto;
    margin: 5px 0px;
    width: 97%;
    display: flex;
    flex-direction: column;
  }

  .org-info {
    margin: 35px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
  } 

  .forma{
    margin: 0px 5px;
    height: auto;
  }
  .upper-symbols-mobile{
    display: flex;
    flex-direction: column;
  }
  .upper-symbols{
    display: none;
  }
  .symbol{
    height: 90px;
    padding-bottom: 8px;
  }
  .symbol-form{
    height: 400px;
  }
  .symbol-bottom{
    height: 415px;
  }

}