@media screen and (max-width: 975px) {
  .content{
    flex-direction: column;
  }
  .rf-map {
    display: none;
  }
}


@media screen and (max-width: 780px) {
  .form-deisgn, .form-deisgn-teh {
    margin-bottom: 12px;
    width: auto;
    margin-top: 5px;
  }

  .footer-content{
    font-size: 10px;

  }

  a[href^="tel:"] {
    display: flex;
    margin-left: auto;
    margin-right: 16px;
  }

  .dashed {
    border-bottom: 2px dashed #34b8c6;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  header{
    width: 100vw;
  }
  .left-side, .logo-wrapp{
    display: none;
  }
  .left-side-mobile{
    display: flex;
  }
  .logo-img {
    width: 40px;
    height: 40px;
    }
  .header-content{
    margin: 5px 5px;
    height: 6vh;
    margin-top: 8px;
  }
  .content {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .content-text{
    font-size: 12px;
  }
  .symbol-text{
    font-size: 17px;
  }
  .footer-content {
    height: auto;
    margin: 5px 0px;
    width: 97%;
  }
  .forma{
    margin: 0px 5px;
    height: auto;
  }
  .upper-symbols-mobile{
    display: flex;
    flex-direction: column;
  }
  .upper-symbols{
    display: none;
  }
  .symbol{
    height: 90px;
    padding-bottom: 8px;
  }
  .symbol-form{
    height: 415px;
  }
  .symbol-bottom{
    height: 430px;
  }
}